PORT=3000

AZURE_OPENAI_ENDPOINT=your_azure_endpoint
AZURE_OPENAI_API_KEY=your_azure_api_key
AZURE_OPENAI_DEPLOYMENT=your_azure_deployment_name
AZURE_OPENAI_API_VERSION=your_azure_api_version

DB_USER=DATABASE_USER
DB_HOST=DATABASE_HOST
DB_DATABASE=DATABASE_NAME
DB_PASSWORD=DATABASE_PASSWORD
DB_PORT=5432